*{
    margin: 0px;
    padding:0px;
    font-family: sans-serif;
}


h1{
    text-align: center;
    padding: 40px 0px;
}
.header{
    display: grid;
 grid-template-columns: 1fr 50px;
     margin-top: 50px;
   
}

.icon-cart i{
    position:relative;
   text-align: right;
    font-size: 30px;
    color: orange;
}

  


.main{
    width:1320px;
    display: flex;
    margin:auto;
    justify-content: space-between;
}
.filterBox{
    flex-basis:23% ;
}
.product{
    flex-basis: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.categoryList{
    margin-top: 20px;
}
.categoryList label{
    display:block;
    padding:5px 0px;

}
.productItems{
 flex-basis: 31%;
 box-shadow: 0px  0px 10px 2px #ccc;
 margin-bottom: 20px;
 
}
.productItems img{
    height: 325px;
     width:100%;
   
}
.productItems p{
    padding: 10px;
}

.productItems h3{
    padding: 10px;
}